<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<appender name="ReaderAppender" type="log4net.Appender.RollingFileAppender">
		<file value="Logs\Reader.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="50" />
		<maximumFileSize value="10MB" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d{ISO8601} %5p [%t] %c{1} %C:%L - %m%n" />
		</layout>
	</appender>
	<appender name="ReaderAppenderExt" type="log4net.Appender.RollingFileAppender">
		<file value="Logs\ReaderExt.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="50" />
		<maximumFileSize value="10MB" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d{ISO8601} %5p [%t] %c{1} %C:%L - %m%n" />
		</layout>
	</appender>
	<appender name="QrcodeAppender" type="log4net.Appender.RollingFileAppender">
		<file value="Logs\QRcode.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="50" />
		<maximumFileSize value="10MB" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d{ISO8601} %5p [%t] %c{1} %C:%L - %m%n" />
		</layout>
	</appender>
	<appender name="AppAppender" type="log4net.Appender.RollingFileAppender">
		<file value="Logs\App.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="50" />
		<maximumFileSize value="10MB" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d{ISO8601} %5p [%t] %c{1} %C:%L - %m%n" />
		</layout>
	</appender>
	<logger name="Reader">
		<level value="Debug" />
		<appender-ref ref="ReaderAppender" />
	</logger>
	<logger name="ReaderExt">
		<level value="Debug" />
		<appender-ref ref="ReaderAppenderExt" />
	</logger>
	<logger name="Qrcode">
		<level value="Debug" />
		<appender-ref ref="QrcodeAppender" />
	</logger>
	<logger name="App">
		<level value="Debug" />
		<appender-ref ref="AppAppender" />
	</logger>
	<root>
	</root>
</log4net>